.wrap-register {
    max-width: 400px;
    height: 400px;
    
    padding: 3rem 2rem;
    margin: 3rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;

    border-radius: 8px;

    input {
        width: 100%;
        padding: 0.7rem 0.7rem;
    }
    
    background-color: #2c2c2c;

    h1 {
        text-align: center;
    }

   

    button {
        background-color:purple;
        color: white;

        cursor: pointer;

        padding: 0.7rem 0.7rem;

        width: 100%;

        border: 0;
        
        border-radius: 50px;
    }
}